#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    z-index: 1021;
    overflow: hidden;
    background-color: black; /* black */
    color: white
}
.slider{
    /* border: 5px solid black; */
    margin: 50px auto;
    max-width: 70%;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 4px #ffb059
}
.slider-line{
    display: flex;
    transition: all ease 2s ;
}
.button-k{
    position: absolute;
    top: 45%;
}
.btn-next{
    right: 20px;
}
.btn-prev{
    left:20px
}

.slider-line>img{
    width: 1200px;
    height: 400px;
}
.my-color{
    background-color: black;
}
.ram{
    border: 1px solid black;
}
.img-down{
    margin-top: 3.8rem;
}
.ram>h3{
    text-align: center;
}
.ram>ol>li{
    font-size: 23px;
    text-decoration: none;
}
.ram>p{
    text-align: center
}
.ram>ol>li>a{
    color: black;
}
.my-anim-left {
    transform: translateX(-120%);
    opacity: 0;
    transition: 1s;
}

.activ-anim-left {
    transform: translateX(0);
    opacity: 1;
}
.my-anim-right {
    transform: translateX(200%);
    opacity: 0;
    transition: 1s;
}

.activ-anim-right {
    transform: translateX(0);
    opacity: 1;
}
.move-top{
    position: fixed;
    right: 50px;
    bottom: 70px;
    border-radius: 50%;
    width: 88px;
    height: 88px;
    box-shadow: 0 0 10px black;
    font-weight: 900;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    animation: button-move 1.5s infinite linear;
}
.move-top:hover{
    animation-play-state: paused;
}
.list-group-item{
   background-color: #E6DEFF;
}
.navbar-brand img{
    border-radius: 7px;
}
.zag-text{
    font-family: Rubik;
}
p{
    font-family:'Bitter', serif;
}

/* Прелоадер */
.preloader-text {
    background: linear-gradient(to right, yellow, orange, red); /* to right yellow orange red */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-size: 5rem;
    background-size: 300%;
    animation: anim-preloader  5s infinite;
}
.preloader-text >h2{
    line-height: 0.85;
}
.preloader-main-word{
     font-weight: 900 !important;
    font-size:3rem; /*ширина текста*/
}
@keyframes anim-preloader {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


/* Кнопка */
@keyframes button-move {
    0%{
        bottom: 70px;
    }
    25%{
        bottom: 80px
    }
    50%{
        bottom: 90px
    }
    75%{
        bottom: 80px
    }
    100%{
        bottom: 70px
    }
}