.textju{font-style:italic;}
.textj{font-size:28px;
color:#ff5f00}
.fon3{background-size:cover;
color:#ff5f00;
font-style:italic;
margin-top:3rem;
font-size:40px;}
.text1{color:white;
}
.text2{color:greenyellow}
.fon2{background-image:url(images.jpg);
    padding-top:2.5rem;}
.fon1{background-image:url(images.jpg);
padding:2.4rem;}
.zxz{margin-left:3rem;
color:#ff5f00}
.text3{color:white}
.text6{color:#d42296;
font-style:italic}
.text4:hover{color:#ff5f00}
.text4{color:white}
.text5{color:white}
.textj:hover{text-decoration: 0;
color:#ff5f00}